/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14.06.2019, 12:13:20
    Author     : anne
*/

#layout-sidebar {
    display: none;
}

.portal-boxenouter:nth-of-type(n+2) {
    margin-top: 1.15rem;
}
.portal-boxenouter:nth-of-type(2) {
    margin-top: 0;
}
.portal-boxenouter:nth-of-type(3) {
    margin-top: 0;
}
.portal-boxeninner {
    width: 100%;
    padding-top: 100%;
    position: relative;
    background-color: #eee;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    overflow: hidden;
}
.portal-boxentext p {
    color: #fff;
}
.portal-boxenclose {
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: #fff;
    border: 0;
    padding: 0;
    display: block;
    background: 0 0;
    font-size: 1rem;
    z-index: 99;
}
.portal-boxeninner:hover {
    cursor: pointer;
}
.portal-boxenintro.away {
    opacity: 0;
}
.portal-boxenoverlay.active {
    opacity: 1;
    top: 0;
}
.portal-boxenintro {
    display: block;
    opacity: 1;
    position: absolute;
    bottom: 0;
    padding-top: 4rem;
    left: 0;
    right: 0;
    width: 100%;
    transition: top 150ms,opacity 150ms;
    padding: 1rem;
    background: -webkit-linear-gradient(top,transparent 0,rgba(0,0,0,.8) 100%);
}
.portal-boxenoverlay {
    opacity: 0;
    display: none;
    position: absolute;
    top: 10%;
    height: 100%;
    left: 0;
    right: 0;
    width: 100%;
    transition: opacity 150ms,top 150ms;
    padding: 1rem;
    background: -webkit-linear-gradient(top,rgba(0,0,0,.5) 0,rgba(0,0,0,.8) 100%);
}
.portal-boxenouter.small-12 {
 width:100% !important
}

@media (min-width:800px) {
 .portal-boxenouter.large-4 {
  width:33.3333% !important
 }
}
.portal-boxenheadline {
    color: #fff;
    font-weight: 600;
    font-size: 0.9rem;
    margin-bottom: 0;
    padding-right: 2rem;
}
.portal-boxendate {
    color: #fff;
    display: block;
    margin-top: 4px;
}

#start_page #start_kurse .list_item .info { position: absolute; display: inline-block; left: 14px; bottom: 10px; color: #5ea2bb; background-clip: padding-box; background-image: none; padding: 6px 22px 10px 35px; } #start_page #start_kurse .list_item .infobild { width: 30px; height: 30px; float: left; margin: 24px 0px 10px 9px; } /* Tooltip text */ .info .tooltiptext { visibility: hidden; width: 220px; background-color: black; color: #fff; text-align: center; padding: 5px 0; border-radius: 6px; /* Position the tooltip text - see examples below! */ position: absolute; z-index: 1; } /* Show the tooltip text when you mouse over the tooltip container */ .info:hover .tooltiptext { visibility: visible; }