/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14.06.2019, 12:13:20
    Author     : anne
*/

#layout-sidebar {
    display: none;
}

.hauptseite_ohnestatus {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #505050;
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 1.375;
}
.media, .media-body {
    overflow: hidden;
}

.media-body, .media-left, .media-right {
    display: table-cell;
    vertical-align: top;
}
.media-left, .media > .pull-left {
    padding-right: 10px;
}
.kw-highlight .media-left-inner {
    border: 1px solid #005497;
    padding: 4px 0;
}
.kw-highlight .kw-kurstitel {
    font-weight: bold;
}
.kw-highlight .tag, .kw-highlight .monat {
    width: 50px;
    font-weight: bold;
    color: #005497;
    text-align: center;
    line-height: 20px;
}
.kw-highlight .tag, .kw-highlight .monat {
    width: 50px;
    font-weight: bold;
    color: #005497;
    text-align: center;
    line-height: 20px;
}
.media-body, .media-left, .media-right {
    display: table-cell;
    vertical-align: top;
}
.media-body {
    width: 10000px;
}