/*
Style für die Kachel-Kursübersicht (WYSIWYG)
*/
/* 
    Created on : 27.06.2018, 15:32:10
    Author     : anne
*/

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .1); }

.card {
    background: #e7ebf1;;
    margin: 10px;
}

.card-body {
    padding: 10px;
}

.cards {
    max-width: 1100px;
}

.card-img-top {
    width: 100%;
}

.card-text {
    font-size: 1.5em;
}

.card:hover {
    background: background;
}

img.style-preview  {
    max-width: 100%;
    padding-top: 10px;
}

.style-preview{
    margin-top: 10px;
}

.bordered {
    border: solid;
}

tr {
    border: 1px;
}